:root {
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Roboto Condensed', sans-serif;
  --ff-tertiary: 'Roboto', sans-serif;
  --ff-basic: 'Source Sans Pro', sans-serif;

  --clr-black: #1d1f22;
  --clr-white: #fff;
  --clr-grey-light: #a6a6a6;
  --clr-text: #1d1f22;
  --clr-primary: #5ece7b;
  --clr-text-medium: #292929;

  --container-width: min(90%, 70.5rem);
  --margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
